/* Variables */
:root {
  --black: #000000;
  --white: #ffffff;

  --black-hsl: 0, 0%, 0%;
  --white-hsl: 0, 0%, 100%;

  --pageBG: var(--white);
  --pageText: var(--black);

  --pageBG-hsl: var(--black-hsl);
  --pageText-hsl: var(--white-hsl);
}

[data-theme='dark'] {
  --pageBG: #000000;
  --pageText: #f4f4f0;

  --pageBG-hsl: var(--black-hsl);
  --pageText-hsl: var(--white-hsl);
}

[data-theme='bright'] {
  --pageBG: var(--white-hsl);
  --pageText: var(--black-hsl);

  --pageBG-hsl: var(--white-hsl);
  --pageText-hsl: var(--black-hsl);
}
