/* Variables */
:root {
  --black: #000000;
  --white: #ffffff;

  --orange: #cc491a;
  --cream: #ddd6af;

  --orange-hsl: 16, 77%, 45%;

  --black-hsl: 0, 0%, 0%;
  --white-hsl: 0, 0%, 100%;

  --pageBG: var(--orange);
  --pageText: var(--cream);

  --pageBG-hsl: var(--orange-hsl);
  --pageText-hsl: 2, 92%, 53%;
}

[data-theme='dark'] {
  --pageBG: #000000;
  --pageText: #f4f4f0;

  --pageBG-hsl: 0, 0%, 0%;
  --pageText-hsl: 60, 14%, 95%;
}

[data-theme='bright'] {
  --pageBG: #ffffff;
  --pageText: #000000;

  --pageBG-hsl: 60, 14%, 95%;
  --pageText-hsl: 0, 0%, 0%;
}
