.hero {
  @apply grid relative overflow-hidden min-h-screen border-b;
  min-height: calc(var(--vh, 1vh) * 100);

  @media (max-height: 500px) {
    min-height: 500px;
  }

  &--bg {
    @apply relative w-full  h-full;
    grid-area: 1/-1;

    &.is-desktop {
      @apply hidden sm:block;
    }

    &.is-mobile {
      @apply sm:hidden;
    }
  }

  &--overlay {
    @apply z-2 flex flex-col justify-center pointer-events-none;
    grid-area: 1/-1;
  }

  &--content {
    @apply md:w-full max-w-2xl mx-auto px-32 py-32 text-center text-pageText bg-pageBG border border-pageText;
    background: hsla(var(--pageBG-hsl), 0.85);
  }
}
